@import "flatpickr/dist/flatpickr";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./../../../../../styles/old_properties.scss";

@mixin styles($id: 'form-field-REEhtN') {
  .bsi-element-#{$id} {
    .flatpickr-input {
      -webkit-appearance: none;

      &.form-control[readonly] {
        background-color: #fff;
      }
    }

    .input-field-and-icon-container {
      position: relative;

      input {
        width: 100%;
        padding-right: 16px;
      }

      i {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }

      .iti {
        display: block;

        .iti__dropdown-content {
          width: fit-content !important;
        }

        .iti__tel-input {
          margin-top: 0.5rem !important;
        }
      }
    }

    .format-invalid-feedback {
      margin-top: 0.25rem;
      font-size: 0.875em;
      color: #dc3545;
    }

    input[type=date], input[type=time], input[type=datetime-local] {
      &::-webkit-calendar-picker-indicator {
          opacity: 0;
          display: none;
      }
    }

    input[type=range] {
      border: none;
      padding-right: 0;

      &:focus {
        box-shadow: none;
      }
    }

    input[type=file]::file-selector-button,
    input[type=file]::-webkit-file-upload-button {
      background-color: rgba(0, 0, 0, 0.05) !important;
      border: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05) !important;
      }
    }
  }

  .was-validated .bsi-element-#{$id} .input-container:has(input:invalid) .invalid-feedback {
    display: block;
  }
}