@mixin styles($elementId: 'if-layout-TljhJw', $editorBorderColor: #333333) {
    .bsi-element-#{$elementId} .then-group {
        display: none;

        .condition {
            display: nones;
        }
    }

    .bsi-ce-edit-mode .bsi-element-#{$elementId} {
        .then-group {
            border: 1px solid $editorBorderColor;
            margin-left: 1rem;
            display: block;
        }

        &:has(.if-container input[type=radio]) {
            .then-group .condition {
                display: block;
                color: $editorBorderColor;

                &::before {
                    content: "Sichtbar, wenn: "
                }
            }
        }
    }
}