@import "intl-tel-input/dist/css/intlTelInput.min.css";
@import "./../../../../styles/properties.scss";

$flagsImagePath: "~intl-tel-input/dist/img/";

@mixin styles($id: "form-field-tel-fKUxNS", $flags: $flagsImagePath) {
  .bsi-element-#{$id}.bsi-form-tel-input {
    .intl-tel-container {
      display: block;
      --iti-path-flags-1x: url("#{$flags}flags.webp");
      --iti-path-flags-2x: url("#{$flags}flags@2x.webp");
      margin-top: 0.5rem !important;
    }

    .form-floating .form-label {
      margin-left: 40px;
    }

    @if $darkModeActive == true {
      @media screen and (prefers-color-scheme: dark) {
        .form-label {
          color: bsiProperty("darkModeTextColor", #ffffff);
        }
      }
    }
  }
}