.bsi-grid-column-element-template-part {


    $backgroundColors: (
        "transparent": transparent,
        "primary": bsiProperty("primary", #fe9915),
        "secondary": bsiProperty("secondary", #0082a1),
        "tertiary": bsiProperty("tertiary", #2bb198),
        "light": bsiProperty("light", #ffffff),
        "dark": bsiProperty("dark", #333333),
    );

    @each $name, $color in $backgroundColors {
        &.bg-color-#{$name} {
            background-color: $color;
            @if $name == "transparent" {
                border-radius: unset;
            } @else {
                padding: bsiProperty("columnRoundetCorner", 0.5rem);
                &.column-rounded-corners {
                    border-radius: bsiProperty("columnRoundetCorner", 0.5rem);
                }
            }
        }
    };

    $verticalAlignment: (
        "top": flex-start,
        "center": center,
        "bottom": flex-end
    );

    $horizontalAlignment: (
        "left": flex-start,
        "center": center,
        "right": flex-end
    );

    $directions: (
        "vertical": column,
        "horizontal": row,
    );

    @each $name, $direction in $directions {
        .column-direction-#{$name} {
            display: flex;
            flex-direction: $direction;
            height: 100%;

            @if $name == "vertical" {
                // main axis: vertical
                // cross axis: horizontal
                @each $name, $alignment in $verticalAlignment {
                    //column - elemente vertikal alignen
                    &.column-vertical-alignment-#{$name} {
                        justify-content: $alignment;
                    }
                };

                @each $name, $alignment in $horizontalAlignment {
                    //column - elemente horizontal alignen
                    &.column-horizontal-alignment-#{$name} {
                        align-items: $alignment;
                    }
                };
            }  @else {
                // main axis: horizontal
                // cross axis: vertical
                @each $name, $alignment in $verticalAlignment {
                    //row - elemente vertikal alignen
                    &.column-vertical-alignment-#{$name} {
                        align-content: $alignment;
                    }
                };

                @each $name, $alignment in $horizontalAlignment {
                    //row - elemente horizontal alignen
                    &.column-horizontal-alignment-#{$name} {
                        justify-content: $alignment;
                    }
                };   
            }
        }
    };
}