{
  "plugins": [
    "prettier-plugin-jinja-template"
  ],
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.hbs"
      ],
      "options": {
        "parser": "glimmer",
        "tabWidth": 4
      }
    },
    {
      "files": [
        "*.twig"
      ],
      "options": {
        "parser": "jinja-template",
        "tabWidth": 4
      }
    }
  ]
}