@use '../../_prototype/styles' as prototypeStyleSheet;
@use "../../../../../../styles/properties.scss" as properties;

@mixin textFieldStyling(
    $elementId: "form-field-2217aee4",
    $placeholderColor: properties.$formPlaceholderColor,
) {
    @include prototypeStyleSheet.formFieldsStyling(
        $placeholderColor: $placeholderColor,
    );
        .bsi-element-#{$elementId} {
            .text-input {
                padding: properties.$spacing300;
        }
    }
}
