@import "../../../../styles/properties";

@mixin styles(
    $id: 'text-kkq2fq', 
    $text-color: $textColor, 
    $text-primary-color: $primary, 
    $text-secondary-color: $secondary, 
    $text-dark-color: $dark, 
    $text-light-color: $light,
    $text-size: $textSize, 
    $text-font-family: $textFont
) {
  .bsi-element-#{$id} {
    width: 100%;
    font-size: $text-size;
    font-family: $text-font-family;

    &.lead {
      font-size: 1.25rem;
    }

    &.small {
      font-size: 0.75rem;
    }


    $colors: ("text-Color": $text-color, "primary-color": $text-primary-color, "secondary-color": $text-secondary-color, "dark-color": $text-dark-color, "light-color": $text-light-color);
    @each $name, $color in $colors {
      &.bsi-text-#{$name} {
        color: $color;
      }
    }
  }

  @if $darkModeActive == true {
    @media screen and (prefers-color-scheme: dark) {
      .bsi-element-#{$id} {
        color: $dark-mode-text-color;
      }
    }
  }

}