{% apply spaceless %}
    {% set spacerElementId = elementId ?: 'spacer-jarY9b' %}
    {% set spacerSpacingStyle = spacingStyle ?: 'pt-5' %}

    <div data-bsi-element="{{ spacerElementId }}" class="{{ 'bsi-element-' ~ spacerElementId }} {{ spacerSpacingStyle }}"></div>
{% endapply %}