// bsi standardLib color properties
// every properties that shoud be overrideable needs the !default flag

$primary: #fe9915 !default;
$secondary: #0082a1 !default;
$tertiary: #2bb198 !default;
$dark: #333333 !default;
$light: #ffffff !default;
$info: #abb3b8 !default;
$invalid: #d11928 !default;
$valid: #19804b !default;
$textColor: #282322 !default;
