// bsi standardLib typography properties
// every properties that shoud be overrideable needs the !default flag

$primaryFont: 'Open Sans, Segoe UI, Apple SD Gothic Neo, Lucida Grande, Lucida Sans Unicode, sans‑serif' !default;
$textSize: 16px !default;
$fontWight: 400 !default;
$lineHeight: 1.5 !default;