@use "../../../../../styles/properties.scss" as properties;

@mixin checkboxGroupStyling(
    $elementId: "checkbox-group-95a8d908",
) {
    .bsi-element-#{$elementId} {
        fieldset {
            display: grid;
            .checkbox-group-container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: properties.$spacing200;
            }
        }

        &.form-group-alignment-horizontal .checkbox-group-container {
            display: flex;
            flex-direction: row;
            gap: properties.$spacing400;
        }
    }
}
