@use "../../../../../styles/properties.scss" as properties;

@mixin checkboxGroupStyling(
    $elementId: "checkbox-group-95a8d908",
) {
    .bsi-element-#{$elementId} {
        // display: flex;
        // flex-direction: column;

        fieldset {
            display: grid;
            .checkbox-group-container {
                display: flex;
                flex-direction: column;
                gap: properties.$spacing200;
            }
        }

        .error-and-helper-text-wrapper {
            .error-and-helper-text-container {
                display: flex;
                flex-direction: column;
                
                .bsi-invalid-feedback {
                    display: none;
                }
            }
        }

        &.form-group-alignment-horizontal .checkbox-group-container {
            display: flex;
            flex-direction: row;
            gap: properties.$spacing400;
        }
    }
}
