@use "../../../styles/properties" as properties;

// TODO: Sollten hier eventuell noch neue Properties ersetllt werden, sodass man gezielt Sachen nur für das Formular ändern kann?
@mixin formElementStyling(
    $labelColor: properties.$formLabelColor,
    $helperTextColor: properties.$formHelperTextColor,
    $elementBackgroundColor: properties.$formElementBackgroundColor,
    $borderColor: properties.$formBorderColor,
    $activeBackgroundColor: properties.$formActiveBackgroundColor,
    $activeColor: properties.$formActiveColor,
) {

    .form-element {
        --form-element-border-color: #{$borderColor};

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // style for headlines of the form elements
        legend, .form-label {
            color: $labelColor;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0;
            margin-bottom: properties.$spacing100;
            align-self: stretch;    
        }

        // styles for form fields
        input, select, textarea, .visual-input {
            color: $labelColor;
            border: unset;
            outline: unset;
            box-shadow: inset 0 0 0 properties.$borderWidth100 var(--form-element-border-color);
            transition: all 0.2s ease;

            &:focus {
                outline: unset;
                box-shadow: inset 0 0 0 properties.$borderWidth200 var(--form-element-border-color);
            }

            &:focus-visible {
                outline: unset;
                box-shadow: inset 0 0 0 properties.$borderWidth300 var(--form-element-border-color);
            }
        }

        // style for input elements that need a separat visual element instead of the native input field (checkbox, radio etc.)
        .native-input {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            &:checked + .visual-input {
                background-color: $activeBackgroundColor;
                color: $activeColor;
                outline: unset;
                --form-element-border-color: $activeBackgroundColor;
            }

            &:focus-visible + .visual-input {
                outline: unset;
                box-shadow: inset 0 0 0 properties.$borderWidth300 var(--form-element-border-color);
            }
        }

        // styles for helper text
        .helper-text-container, .helper-text {
            color: $helperTextColor;
        }

        // set a '*' signe after the label if form field is requiered
        &.required, &.bsi-group-required {
            .form-label, legend {
                display: flex;
                gap: properties.$spacing100;

                &::after {
                    content: "*";
                }
            }
        }
    }

}