@import "../../../styles/properties.scss";

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.required label {
        display: flex;
        gap: $spacing100;

        &::after {
            content: "*";
        }
    }

    .form-label {
        margin-bottom: $spacing0;
        align-self: stretch;
    }

    .input-field-container {
        align-self: stretch;
    }

    .helper-text {
        align-self: stretch;
    }
    
}