@import "../../../styles/properties.scss";

@mixin formElementStyling() {

    .form-field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &.required label {
            display: flex;
            gap: $spacing100;

            &::after {
                content: "*";
            }
        }

        .form-label {
            margin-bottom: $spacing0;
            align-self: stretch;
        }

        .input-field-container {
            align-self: stretch;

            input {
                border: unset;
                outline-width: $borderWidth100;
                outline-style: solid;

                &:placeholder-shown {
                    &::placeholder {
                        opacity: 0.5;
                    }
                }

                &:focus {
                    outline-width: $borderWidth200;
                }

                &:focus-visible {
                    outline-width: $borderWidth300;
                }
            }
        }

        .helper-text {
            align-self: stretch;
        }

        &:has(input:disabled) {
            opacity: 0.3;
        }
        
    }
}

@include formElementStyling();