@mixin styles($id: 'video-C4cbKm', $altWarningMessage: bsiProperty('figureAltWarningMessage', 'Bitte gib eine Beschreibung an')) {
  .bsi-element-#{$id} {
    .responsive-video {
      padding-bottom: 56.25%;
      padding-top: 0px;
      position: relative;
      height: 0;
      overflow: hidden;

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        max-height: 100%;
        width: 100%;
      }
    }
  }
  
  .bsi-ce-edit-mode .bsi-element-#{$id}.show-alt-warning {
    &:has(iframe:not([aria-label], [aria-hidden])) {
      img {
        border: 2px red solid;
      }

      &::before {
        content: $altWarningMessage;
        color: red;
        position: absolute;
        padding: 0.5rem 1rem;
        background-color: #0005;
      }
    }
  }
}