@import "bootstrap-icons/font/bootstrap-icons.css";
.bsi-element-file-input-REEhtN {
  .input-container {
    position: relative;
  }
  
  .input-container input {
    width: 100%;
    padding-right: 30px;
  }
  
  .input-container i {
    position: absolute;
    right: 30px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .format-invalid-feedback {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
  }

  .logic-validation-negative {
    color: #dc3545;
  }

  input[type=range] {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  input[type=file]::file-selector-button,
  input[type=file]::-webkit-file-upload-button {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
  }

  .file-input-container, .file-input-container input {
    display: none;
  }

  .adv-fileupload-name {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    &::before {
      padding-left: 1%;
    }
  }
}

.invalid-file-size {
  color: bsiProperty('invalidColor', #dc3545);
  &:after{
    color: bsiProperty('invalidColor', #dc3545);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .form-label {
    color: bsiProperty('darkModeTextColor', #ffffff);
  }
}