@use "../../../../styles/properties" as properties;

@use "./validation" as formValidationStyleSheet;
@use "../../form-elements/form-element-styles" as formElementStyleSheet;
@use "./info-label-position" as infoLabelPositionStyleSheet;
@use "../../../../styles/functions.scss" as functions;

@mixin formContainerStyling(
    $elementId: "form-container-84c6581f",
    $formContainerId: "",
    $colorThemeClass: "", // optional class for color theme for formular (e.g. "form-color-light")
    $elementBackgroundColor: properties.$formElementBackgroundColor,
    $borderColor: properties.$formBorderColor, 
    $labelColor: properties.$formLabelColor,
    $activeColor: properties.$formActiveColor,
    $activeBackgroundColor: properties.$formActiveBackgroundColor,
    $helperTextColor: properties.$formHelperTextColor, 
    $errorColor: properties.$formErrorColor,
    $successColor: properties.$formSuccessColor,
    $errorIconFontName: properties.$formErrorIconFontName,
    $errorIconFontCharacter: properties.$formErrorIconFontCharacter,
    $buttonSubmitColor: properties.$formButtonSubmitColor,
    $buttonResetColor: properties.$formButtonResetColor,
    $buttonSubmitBackgroundColor: properties.$formButtonSubmitBackgroundColor,
    $buttonResetBackgroundColor: properties.$formButtonResetBackgroundColor,
    $placeholderColor: properties.$formPlaceholderColor,

    // Utility class for form element border radius.
    $borderRadius: properties.$borderRadiusFormElements,
    $formLabelInfoPosition: functions.assert-one-of(properties.$formLabelInfoPosition, 'top-bottom', 'top-top', 'left-bottom'),
    // Set space between every form section.
    $spaceBetweenFormSections: properties.$spaceBetweenFormSections,
    // Set space between every form element in a form section.
    $spaceBetweenFormElements: properties.$spaceBetweenFormElements,
    // Set space between elements in a every form field. (e.g. between label, inputfield, helperText etc.)
    $spaceWithinFormelements: properties.$spaceWithinFormelements,
) {
    $selector: "";
    @if $formContainerId != "" {
        $selector: ".bsi-element-#{$formContainerId}";
        @if $colorThemeClass != "" {
            $selector: "#{$selector}.#{$colorThemeClass}";
        }
    }

    @if $selector != "" {
        #{$selector} {
            @include formValidationStyleSheet.formValidationStyling(
                $elementId: $elementId,
                $errorColor: $errorColor,
                $successColor: $successColor,
                $errorIconFontName: $errorIconFontName,
                $errorIconFontCharacter: unquote("\"#{$errorIconFontCharacter}\""),
            );
        }
    }
    #{if($selector != "", $selector, '')} .bsi-element-#{$elementId} {
        --form-element-border-color: #{$borderColor};
        padding: properties.$spacing0;
        min-width: 0; // important: allows element to shrink below content size - requiered for text-overflow to work

        // spacing of the form elements
        form {
            gap: $spaceBetweenFormSections;
            
            .form-elements-container {
                gap: $spaceBetweenFormSections; 
            }
        }
            
        // Set space between every form element in a form section.
        .form-section {
            gap: $spaceBetweenFormElements;
        }

        // Set space between elements in every form field. (e.g. between label, inputfield, helperText etc.)
        .form-element {
            gap: $spaceWithinFormelements;
            .error-text-container,
            .form-field-feedback-wrapper,
            .checkbox-container,
            .toggle-switch-container,
            .textarea-container,
            .textarea-and-error-text,
            .select-and-error-text,
            .file-upload-container,
            .select-container,
            .file-upload-and-error-text,
            .form-field-input-wrapper,
            .form-field-layout,
            .scale-label-wrapper,
            fieldset {
                gap: $spaceWithinFormelements;
            }
        }

        // Set padding for every form element
        select, textarea, input[type=text], input[type=email], input[type=password], input[type=number], input[type=date], input[type=tel], input[type=time], input[type=datetime-local] {
            padding: properties.$spacing300;
        }

        // formular button alligments
        $alignments: (start, center, end, space-between);
        @each $alignment in $alignments {
            &.form-button-alignment-#{$alignment} {
                form .form-buttons {
                    justify-content: $alignment;
                }
            }
        }

        // border radius from form elements
        input[type=text], input[type=email], input[type=password], input[type=number], input[type=date], input[type=tel], input[type=time], input[type=datetime-local], input[type=checkbox], input[type=file], .visual-checkbox, select, textarea {
            border-radius: $borderRadius;
        }

        // label/info-position layouts
        @include infoLabelPositionStyleSheet.infoLabelPositionStyling($formLabelInfoPosition: $formLabelInfoPosition);

        form {
            display: flex;
            flex-direction: column;

            .hiddenElement {
                display: none;
            }

            .form-elements-container {
                display: flex;
                flex-direction: column;

                @include formElementStyleSheet.formElementStyling(
                    $labelColor: $labelColor,
                    $helperTextColor: $helperTextColor,
                    $elementBackgroundColor: $elementBackgroundColor,
                    $borderColor: $borderColor,
                    $activeBackgroundColor: $activeBackgroundColor,
                    $activeColor: $activeColor,
                    $placeholderColor: $placeholderColor,
                );
            }
        
            .form-buttons {
                display: flex;
                gap: properties.$spacing400;
        
                .form-button-submit {
                    background-color: $buttonSubmitBackgroundColor;
                    color: $buttonSubmitColor;
                    transition: all 0.2s ease;

                    &:hover {
                        background-color: $buttonSubmitColor;
                        color: $buttonSubmitBackgroundColor;
                        box-shadow: inset 0 0 0 properties.$borderWidth100 $buttonSubmitBackgroundColor;
                    }

                    &:focus-visible {
                        outline: none;
                        border-width: properties.$borderWidth100;
                        box-shadow: inset 0 0 0 properties.$borderWidth200 $buttonSubmitColor;
                    }
                }
        
                .form-button-reset {
                    background-color: $buttonResetBackgroundColor;
                    color: $buttonResetColor;
                    box-shadow: inset 0 0 0 properties.$borderWidth100 $buttonResetColor;

                    &:hover {
                        background-color: $buttonResetColor;
                        color: $buttonResetBackgroundColor;
                    }

                    &:focus-visible {
                        border-width: properties.$borderWidth100;
                        box-shadow: inset 0 0 0 properties.$borderWidth200 $buttonResetColor;
                    }
                }
        
                input[type=reset]:disabled {
                    display: none;
                }
            }
        }
    }
}