@use "../../../../styles/properties" as properties;

@mixin formValidationStyling(
    $elementId: "form-container-84c6581f",
    $errorColor: properties.$invalid, 
    $successColor: properties.$valid,
) {

    .bsi-element-#{$elementId} {

        // validation style for normal input fields
        .input-field-with-error-text, .radio-button-group {
            &:has(input:user-valid) {
                input {
                    --input-box-shadow-color: #{$successColor};
                }
            }

            &:has(input:user-invalid) {
                input {
                    --input-box-shadow-color: #{$errorColor};
                }
                .bsi-invalid-feedback {
                    display: flex;
                    color: $errorColor;
                }
            }
        }

        // validation style for toggle switch elements
        .toggle-switch-container {
            &:has(input:user-valid), &:has(input.custom-valid) {
                .visual-toggle-switch {
                    --input-box-shadow-color: #{$successColor};
                }
            }

            &:has(input:user-invalid), &:has(input.custom-invalid)  {
                .visual-toggle-switch {
                    --input-box-shadow-color: #{$errorColor};
                }
                .bsi-invalid-feedback {
                    display: flex;
                    color: $errorColor;
                }
            }
        }

        // validation style for checkboxes
        .checkbox-container {
            &:has(input.custom-valid) {
                .visual-checkbox {
                    --input-box-shadow-color: #{$successColor};
                }
            }

            &:has(input.custom-invalid) {
                .visual-checkbox {
                    --input-box-shadow-color: #{$errorColor};
                }
                .bsi-invalid-feedback {
                    display: flex;
                    color: $errorColor;
                }
            }
        }

        // validation style for checkbox groups
        .checkbox-group.custom-valid {
            .visual-checkbox {
                --input-box-shadow-color: #{$successColor};
            }
        }

        .checkbox-group.custom-invalid {
            .visual-checkbox {
                --input-box-shadow-color: #{$errorColor};
            }
            .error-and-helper-text-container {
                .bsi-invalid-feedback {
                    display: flex;
                    color: $errorColor;
                }
            }
        }

        // validation for radio-button groups
        .radio-group {
            &:has(input:user-valid), &:has(input.custom-valid) {
                .visual-radio {
                    --input-box-shadow-color: #{$successColor};
                }
            }

            &:has(input:user-invalid), &:has(input.custom-invalid) {
                .visual-radio {
                    --input-box-shadow-color: #{$errorColor};
                }
                .bsi-invalid-feedback {
                    display: flex;
                    color: $errorColor;
                }
            }
        }

        // validation style for select element
        .select-and-error-text {
            &:has(select:user-valid) {
                select {
                    --input-box-shadow-color: #{$successColor};
                }
            }

            &:has(select:user-invalid) {
                select {
                    --input-box-shadow-color: #{$errorColor};
                }

                .bsi-invalid-feedback {
                    display: flex;
                    color: $errorColor;
                }
            }
        }

        // validation style for textarea element
        .textarea-and-error-text {
            &:has(textarea:user-valid) {
                textarea {
                    --input-box-shadow-color: #{$successColor};
                }
            }

            &:has(textarea:user-invalid) {
                textarea {
                    --input-box-shadow-color: #{$errorColor};
                }

                .bsi-invalid-feedback {
                    display: flex;
                    color: $errorColor;
                }
            }
        }

        .file-upload-and-error-text {
            &:has(input:user-valid) {
                .file-upload {
                    --input-box-shadow-color: #{$successColor};
                }
            }
            &:has(input:user-invalid), &:has(input.custom-invalid) {
                .file-upload {
                    --input-box-shadow-color: #{$errorColor};
                }
                .bsi-invalid-feedback {
                    display: flex;
                    color: $errorColor;
                }
            }
        }
    }
}