{% set bodyTextElementId = elementId ?: 'bsi-body-text' %}
{% set formattedTextId = formattedTextId ?: 'body-text-OastHh' %}

{% apply spaceless %}
    <div
        {{ templateElement(bodyTextElementId, scope) }}
        class="bsi-text-element bsi-element-{{ bodyTextElementId }}"
    >
        <div {{ formattedLanguageTag(formattedTextId, scope) }}>
            {{ formattedHtml(formattedTextId, scope) }}
        </div>
    </div>
{% endapply %}

{# TODO: funktionen registrieren #}
