@import "../../../../styles/old_properties";

.bsi-element-col-three-MEOl1p {
    @media (min-width: bsiProperty('gridBreakpointTablet', 768px)) {
        &.bsi-ratio-4-4-4 {
            > .row > .bsi-column-1 {
                width: 33.33333333%;
            }
            > .row > .bsi-column-2 {
                width: 33.33333334%;
            }
            > .row > .bsi-column-3 {
                width: 33.33333333%;
            }
        }

        &.bsi-ratio-3-6-3 {
            > .row > .bsi-column-1 {
                width: 25%;
            }
            > .row > .bsi-column-2 {
                width: 50%;
            }
            > .row > .bsi-column-3 {
                width: 25%;
            }
        }      
    }

    @media (max-width: calc(bsiProperty('gridBreakpointTablet', 768px) - 0.02px)) {
        &.bsi-mobile-keep .row .bsi-column {
            width: 33.3%!important;
        }
    }    
}