@use "../../../../../styles/properties.scss" as properties;

@mixin toggleSwitchStyling(
    $elementId: "toggle-switch-b0ae602a",
) {
    .bsi-element-#{$elementId} {
        .toggle-switch-container {
            display: flex;
            flex-direction: column;
            
            .toggle-switch-with-label {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: bsiProperty("spacing.200", 8px);
                cursor: pointer;
                align-items: center;

                // create a custom toggle-switch
                .visual-toggle-switch {
                    position: relative;
                    width: 40px;
                    height: 24px;
                    border-radius: properties.$borderRadiusCircle;
                    // background-color: properties.$light;
                    cursor: pointer;
                    color: transparent;
                    // transition: opacity 0.2s ease;
                }

                .toggle-indicator {
                    width: 16px;
                    height: 16px;
                    background-color: currentColor;
                    border-radius: properties.$borderRadiusCircle;
                    position: absolute;
                    top: properties.$spacing100;
                    left: properties.$spacing100;
                    transition: transform 0.2s;
                }

                .native-checkbox:checked + .visual-toggle-switch {
                    // background-color: properties.$dark;
                    // outline-color: properties.$dark;
                    // color: properties.$light;

                    .toggle-indicator {
                        // background-color: properties.$light;
                        transform: translateX(16px);
                    }
                }

                // .native-checkbox:focus-visible + .visual-toggle-switch {
                //     outline-width: properties.$borderWidth300;
                // }

                .form-label {
                    cursor: pointer;
                    margin-bottom: properties.$spacing0;
                    align-self: stretch;
                }
            }

            .bsi-invalid-feedback {
                display: none;
            }
        }
    }
}
