@import "../../../../../styles/properties";

@mixin styles($id: 'multi-column-VxWXpr') {
  .bsi-element-#{$id} {
    .bsi-multi-col {
      gap: 2%;
    }

    &.bsi-col-three, &.bsi-col-four {
      .bsi-multi-col > .bsi-form-element {
        @include media-breakpoint-down($desktop) {
          flex-basis: 48% !important;
        }
      }
    }

    &.bsi-col-two, &.bsi-col-three, &.bsi-col-four {
      .bsi-multi-col > .bsi-form-element {
        @include media-breakpoint-down($desktop) {
          flex-basis: 100% !important;
        }
      }
    }

    &.bsi-col-auto > .bsi-multi-col > .bsi-form-element {
      flex: 1 1 auto;
      @include media-breakpoint-down($desktop) {
        width: 100% !important;
      }
    }

    &.bsi-first-wide {
      &.bsi-col-auto {
        .bsi-multi-col > .bsi-form-element:nth-child(1) {
          width: 610px;
        }
      }

      &.bsi-col-two {
        .bsi-multi-col > .bsi-form-element {
          flex-basis: 24%;

          &:nth-child(2n+1) {
            flex-basis: 74%;
          }
        }
      }

      &.bsi-col-three {
        .bsi-multi-col > .bsi-form-element {
          flex-basis: 24%;

          &:nth-child(3n+1) {
            flex-basis: 48%;
            @include media-breakpoint-down($desktop) {
              flex-basis: 100% !important;
            }
          }
        }
      }

      &.bsi-col-four {
        .bsi-multi-col > .bsi-form-element {
          flex-basis: 18%;

          &:nth-child(4n+1) {
            flex-basis: 40%;
          }
        }
      }
    }

    &.bsi-last-wide {
      &.bsi-col-auto {
        .bsi-multi-col > .bsi-form-element:nth-last-child(1) {
          width: 610px;
        }
      }

      &.bsi-col-two {
        .bsi-multi-col > .bsi-form-element {
          flex-basis: 24%;

          &:nth-child(2n) {
            flex-basis: 74%;
          }
        }
      }

      &.bsi-col-three {
        .bsi-multi-col > .bsi-form-element {
          flex-basis: 24%;

          &:nth-child(3n) {
            flex-basis: 48%;
            @include media-breakpoint-down($desktop) {
              flex-basis: 100% !important;
            }
          }
        }
      }

      &.bsi-col-four {
        .bsi-multi-col > .bsi-form-element {
          flex-basis: 18%;

          &:nth-child(4n) {
            flex-basis: 40%;
          }
        }
      }
    }

    &.bsi-default-wide {
      &.bsi-col-two {
        .bsi-multi-col > .bsi-form-element {
          flex-basis: 49%;
        }
      }

      &.bsi-col-three {
        .bsi-multi-col > .bsi-form-element {
          flex-basis: 32%;
        }
      }

      &.bsi-col-four {
        .bsi-multi-col > .bsi-form-element {
          flex-basis: 23.5%;
        }
      }
    }
  }
}