@import "../../../../styles/properties";

@mixin styles($id: 'title-h2-KNs10G',
  $title-font-family: $titleH2FontFamily,
  $title-font-size: $titleH2FontSize,
  $title-font-size-mobile: $titleH2FontSizeMobile,
  $big-title-font-size-factor: $bigTitleFontSizeFactor,
  $title-primary-color: $primary,
  $title-secondary-color: $secondary,
  $title-dark: $dark,
  $title-light: $light) {

  .bsi-element-#{$id} {
    width: 100%;
    font-size: $title-font-size;
    font-family: $title-font-family;
    $colors: (
      "primary-color": $title-primary-color,
      "secondary-color": $title-secondary-color,
      "dark": $title-dark,
      "light": $title-light
    );

  @each $name, $color in $colors {
    &.bsi-text-#{$name} {
      color: $color;
    }
  }

  &.display-2 {
    font-size: $title-font-size * $big-title-font-size-factor;
  }

  @media (max-width: $md) {
    font-size: $title-font-size-mobile;

    &.display-2 {
      font-size: $title-font-size-mobile * $big-title-font-size-factor;
    }
  }
}
}