{% set titleH1ElementId = elementId ?: "bsi-headline-h1" %}

<div
    {{ templateElement(titleH1ElementId, scope) }}
    class="bsi-text-element bsi-element-{{ titleH1ElementId }}"
>
    <h1 class="h1">{{ textValue("headline-1-text", scope) }}</h1>
</div>
