@use '../../_prototype/styles' as prototypeStyleSheet;
@use "../../../../../../styles/properties.scss" as properties;



@mixin emailFieldStyling(
    $elementId: "form-field-bdcd8d55",
    $placeholderColor: properties.$formPlaceholderColor,
) {
    @include prototypeStyleSheet.formFieldsStyling(
        $placeholderColor: $placeholderColor,
    );

    .bsi-element-#{$elementId} {
        .email-input {
            padding: properties.$spacing300;
        }
    }
}
