<div data-bsi-element="schedule-container-VCR5nH" x-data="schedule">
	<div data-bsi-dropzone="schedule-days-QErh77"> 
        {% block scheduleDays %}
            {% include "../day/template.twig" %}
        {% endblock %}
    </div>
</div>
