@use "../../../../../styles/properties.scss" as properties;

@mixin textareaStyling(
    $elementId: "textarea-a4af575b",
) {
    .bsi-element-#{$elementId} {

        // Sets a required flag on the label if field is required.
        // TODO: könnte vielleicht ins globale Styling ausgelagert werden.
        &.required label {
            display: flex;
            gap: properties.$spacing100;

            &::after {
                content: "*";
            }
        }

        
        // TODO: könnte vielleicht ins globale Styling des Formulars wandern
        .form-label {
            margin-bottom: properties.$spacing100;
            align-self: stretch;
        }

        .textarea-container {
            display: flex;
            flex-direction: column;
            align-self: stretch;

            .textarea-and-error-text {
                display: flex;
                flex-direction: column;
                position: relative;

                textarea {
                    // appearance: none;
                    border: unset;
                    outline-width: properties.$borderWidth100;
                    outline-style: solid;
                    padding: properties.$spacing300;

                    &:focus {
                        outline-width: properties.$borderWidth200;
                    }

                    &:focus-visible {
                        outline-width: properties.$borderWidth300;
                    }
                }
                
                .bsi-invalid-feedback {
                    display: none;
                }
            }
        }

        .helper-text-container {
            display: flex;
            align-self: stretch;
        }

        &:has(textarea:disabled) {
            opacity: 0.3;
        }
    }
}
