@use "../../../../../../styles/properties.scss" as properties;

@mixin pollNpsStyling ($elementId: "form-poll-nps-a026d07b",
    $hoverColor: properties.$formPollHoverColor,
    $hoverBackgroundColor: properties.$formPollHoverBackgroundColor,
) {
    .bsi-element-#{$elementId} {
        .scale-label-wrapper {
            display: flex;
            width: fit-content;
            flex-direction: column;
        }

        &.scale-label-above-input .scale-label-wrapper {
            flex-direction: column-reverse;
        }

        .nps-scale-labels {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            label {
                width: min-content;
                flex-grow: 1;
            }

            .right-nps-scale-label {
                text-align: end;
            }
        }

        .nps-container {
            width: 100%;
            container-type: inline-size;

            .number-input {
                display: none;
            }

            .nps-preview {
                display: flex;
                flex-wrap: wrap;
                gap: properties.$spacing200;
                padding: properties.$spacing100 0;

                .visual-nps-input {
                    display: flex;
                    padding: properties.$spacing300 properties.$spacing200;
                    justify-content: center;
                    align-items: center;
                    min-width: 3.5rem;
                    max-width: 3.5rem;
                    border-radius: properties.$borderRadius100;
                    cursor: pointer;

                    &:hover {
                        color: $hoverColor;
                        background-color: $hoverBackgroundColor;
                    }
                }
            }

            $max-width: calc(calc(3.5rem * 10) + calc(9 * properties.$spacing100)); // min-width * amount of elements + amount of gaps * gap-width
            @container (max-width: #{$max-width}) {
                .scale-label-wrapper {
                    width: 100%;

                    .nps-item {
                        flex: 1;
                        min-width: 1.5rem;

                        label {
                            min-width: unset;
                            max-width: unset;
                        }
                    }
                }
            }
        }
    }
}