@use "../../../../../../styles/properties.scss" as properties;

@mixin pollNpsStyling (
    $elementId: "form-poll-nps-a026d07b",
    $hoverColor: properties.$formPollHoverColor,
    $hoverBackgroundColor: properties.$formPollHoverBackgroundColor,
) {
    .bsi-element-#{$elementId} {
        .nps-scale-labels {
            display: flex;
            justify-content: space-between;

            .right-nps-scale-label {
                text-align: end;
            }
        }
        .nps-container {
            width: fit-content;

            .number-input {
                display: none;
            }
            .nps-preview {
                display: flex;
                flex-wrap: wrap;
                gap: properties.$spacing100;
                
                .visual-nps-input {
                    display: flex;
                    padding: properties.$spacing300 properties.$spacing200;
                    justify-content: center;
                    align-items: center;
                    min-width: 40px;
                    min-height: 56px;
                    border-radius: properties.$borderRadius100;

                    &:hover {
                        color: $hoverColor;
                        background-color: $hoverBackgroundColor;
                    }
                }
            }
        }
    }
}