@import "../../../../styles/properties";

@mixin styles($id: "poll-wni8em",
  $poll-primary: $primary,
  $poll-secondary: $secondary,
  $poll-label-size: 1.25rem) {
  .bsi-element-#{$id} {

    .poll-label {
      color: bsiProperty('darkColor', #383e42);
    }

    .bsi-poll-number-input {
      display: none;
    }

    fieldset {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 0.75em;

      .poll-check {
        position: relative;
        font-size: $poll-label-size;

        input {
          appearance: none;
          width: 100%;
          height: 100%;
          margin: 0;
          --bs-form-check-bg-image: none !important;
        }

        label {
          position: absolute;
          width: 100%;
          height: 100%;
          align-content: center;
          text-align: center;
          left: 0;
        }
      }
    }

    &.bsi-poll-nps fieldset {
      gap: 0.5rem;

      .poll-check {
        width: 3 * $poll-label-size;
        height: 2 * $poll-label-size;

        input {
          appearance: none;
          border: 1px solid $poll-primary;
          border-radius: 0.25rem;
          margin: 0;
          --bs-form-check-bg-image: none;

          &:checked {
            background-color: $poll-primary;
          }

          &:has(input:checked) label {
            color: #fff;
          }
        }
      }
    }

    &.bsi-poll-star fieldset {
      justify-content: start;

      .poll-check {
        width: 3.25rem; // TODO: editable?
        height: 3.25rem; // TODO: editable?
        font-size: 2rem; // TODO: editable?

        input {
          background-color: transparent;
          border: none;
        }

        label {
          align-content: start;
          color: $poll-primary;
        }

        i.bi-star-fill {
          display: none;
        }

        &.bsi-poll-radio-checked label {
          i.bi-star {
            display: none;
          }

          i.bi-star-fill {
            display: block;
          }
        }
      }
    }

    &.bsi-poll-star .nps-description {
      display: none;
    }

    @media screen and (prefers-color-scheme: dark) {

      .poll-label,
      &.bsi-poll-star fieldset .poll-check label {
        color: bsiProperty('darkModeTextColor', #ffffff) !important;
      }
    }
  }

  .bsi-form-color-secondary .bsi-element-#{$id} {
    &.bsi-poll-nps fieldset .poll-check input {
      border: $poll-secondary;

      &:checked {
        background-color: $poll-secondary;
      }

    }

    &.bsi-poll-star fieldset .poll-check label {
      color: $poll-secondary;
    }
  }

  .bsi-corner-sharp .bsi-element-#{$id}.bsi-poll-nps fieldset .poll-check input {
    border-radius: 0;
  }
}