@import "../../../../styles/properties";

@mixin styles($id: "poll-wni8em",
  $poll-primary: $primary,
  $poll-secondary: $secondary) {
  .bsi-element-#{$id} {
    .bsi-poll-radio-group {
      margin-bottom: 0.75em;
    }

    .poll-label {
      color: bsiProperty('darkColor', #383e42);
    }

    .bsi-poll-number-input {
      display: none;
    }

    &.bsi-poll-nps {
      .bsi-poll-radio-item {
        flex: 0 1 42px;
        margin-right: 0;
        padding-left: 0;
      }

      .bsi-poll-radio-input {
        position: relative;
        margin: 0;
        height: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.25rem;
        aspect-ratio: 1;

        &::before {
          content: attr(value);
          border-radius: 0.25rem;
          padding: 0.25rem;
          text-align: center;
          font-size: 1.25rem;
          font-weight: 400;
          position: absolute;
          background: white;
          width: 100%;
          height: 100%;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .bsi-poll-radio-label {
        display: none;
        // TODO remove?
        // or hide input?
      }
    }

    @media screen and (prefers-color-scheme: dark) {
      .poll-label {
        color: bsiProperty('darkModeTextColor', #ffffff);
      }
    }

    &.bsi-poll-star {
      .form-check-inline {
        margin-right: 0;
      }

      .bsi-poll-radio-input {
        width: 2.5em;
        height: 2.5em;

        &:hover {
          cursor: pointer;
        }
      }

      .bsi-poll-radio-label {
        display: none;
      }

      .bsi-poll-radio-group {
        display: inline-flex;
        flex-flow: nowrap;
        align-items: flex-start;

        input[type="radio"] {
          display: inline-block;
          content: "";
          vertical-align: -0.125em;
          background-repeat: no-repeat;
          background-size: 2rem 2rem;
          background-color: transparent;
          border: none;
          box-shadow: none;
        }
      }
    }
  }

  $colors: ("primary": $poll-primary,
    "secondary": $poll-secondary,
  );

  @each $name,
  $color in $colors {
    $star-icon: $star-icon-primary;
    $star-fill-icon: $star-fill-icon-primary;

    @if $name=="secondary" {
      $star-icon: $star-icon-secondary;
      $star-fill-icon: $star-fill-icon-secondary;
    }

    .bsi-form-color-#{$name} .bsi-element-#{$id} {
      &.bsi-poll-nps .bsi-poll-radio-label {
        color: $color;
        border: 1px solid $color;

        &:hover {
          background-color: $color;
          color: $light;
        }
      }

      &.bsi-poll-nps .bsi-poll-radio-input:checked::before {
        background-color: $color;
        color: $light;
      }

      &.bsi-poll-star .bsi-poll-radio-group {
        .bsi-poll-radio-item input[type="radio"] {
          background-image: $star-icon;
        }

        &:not(:hover) {
          .bsi-poll-radio-checked {
            input[type="radio"] {
              background-image: $star-fill-icon !important;
            }

            input[type="radio"]:checked {
              background-image: $star-fill-icon !important;
            }
          }
        }

        &:hover {
          .bsi-poll-radio-item {
            input[type="radio"] {
              background-image: $star-fill-icon;
            }

            &:hover~.bsi-poll-radio-item input[type="radio"] {
              background-image: $star-icon;
            }
          }
        }
      }
    }
  }

  .bsi-corner-sharp .bsi-element-#{$id}.bsi-poll-nps .bsi-poll-radio-label {
    border-radius: 0;
  }

  .was-validated .bsi-element-#{$id}.bsi-poll-nps .bsi-poll-radio-group {

    .bsi-poll-radio-input:invalid::before,
    .bsi-poll-radio-input.is-invalid::before {
      color: $invalid !important;
      border: 1px solid $invalid !important;
    }

    .bsi-poll-radio-input:valid::before,
    .bsi-poll-radio-input.is-valid::before {
      color: $valid !important;
      border: 1px solid $valid !important;
    }

    .bsi-poll-radio-input:valid:focus::before,
    .bsi-poll-radio-input.is-valid:focus::before,
    .bsi-poll-radio-input:valid:checked::before,
    .bsi-poll-radio-input.is-valid:checked::before {
      background-color: $valid !important;
      color: $light !important;
    }
  }

  .was-validated .bsi-element-#{$id}.bsi-poll-star .bsi-poll-radio-group {
    input[type="radio"] {

      &:invalid,
      &.is-invalid {
        background-image: $star-icon-invalid !important;
      }
    }

    .bsi-poll-radio-item input[type="radio"]:checked {

      &:valid,
      &.is-valid {
        background-image: $star-fill-icon-valid !important;
      }
    }

    &:not(:hover) {
      .bsi-poll-radio-checked {
        input[type="radio"] {

          &:valid,
          &.is-valid {
            background-image: $star-fill-icon-valid !important;
          }
        }

        input[type="radio"]:checked {

          &:valid,
          &.is-valid {
            background-image: $star-fill-icon-valid !important;
          }
        }
      }
    }

    &:hover {
      .bsi-poll-radio-item {
        input[type="radio"] {
          background-image: $star-fill-icon-valid;
        }

        &:hover~.bsi-poll-radio-item input[type="radio"] {
          background-image: $star-icon-valid;
        }
      }
    }
  }

  fieldset .form-text {
    width: 100%;
  }
}