.bsi-title-element {

  width: 100%;

  $colors: (
    "primary-color": $primary,
    "secondary-color": $secondary,
    "dark": $dark,
    "light": $light
  );

  @each $name, $color in $colors {
    &.bsi-text-#{$name} {
      color: $color;
    }
  }

  &.bsi-header-style-1 {
    font-size: $titleStyle1FontSize;
    line-height: 110%;
    letter-spacing: -0.005em;
    font-family: $titleStyle1FontFamily;

    @include media-breakpoint-down($mobile) {
      font-size: $titleStyle1FontSizeMobile;
    }
  }

  &.bsi-header-style-2 {
    font-size: $titleStyle2FontSize;
    line-height: 110%;
    letter-spacing: 0em;
    font-family: $titleStyle2FontFamily;

    @include media-breakpoint-down($mobile) {
      font-size: $titleStyle2FontSizeMobile;
      line-height: 130%;
    }
  }

  &.bsi-header-style-3 {
    font-size: $titleStyle3FontSize;
    line-height: 110%;
    letter-spacing: 0em;
    font-family: $titleStyle3FontFamily;

    @include media-breakpoint-down($mobile) {
      font-size: $titleStyle3FontSizeMobile;
      line-height: 130%;
    }
  }

  &.bsi-header-style-4 {
    font-size: $titleStyle4FontSize;
    line-height: 130%;
    letter-spacing: 0em;
    font-family: $titleStyle4FontFamily;

    @include media-breakpoint-down($mobile) {
      font-size: $titleStyle4FontSizeMobile;
      line-height: 150%;
    }
  }

  &.bsi-header-style-5 {
    font-size: $titleStyle5FontSize;
    line-height: 130%;
    letter-spacing: 0em;
    font-family: $titleStyle5FontFamily;

    @include media-breakpoint-down($mobile) {
      font-size: $titleStyle5FontSizeMobile;
      line-height: 150%;
    }
  }

  &.bsi-header-style-6 {
    font-size: $titleStyle6FontSize;
    line-height: 150%;
    letter-spacing: 0em;
    font-family: $titleStyle6FontFamily;

    @include media-breakpoint-down($mobile) {
      font-size: $titleStyle6FontSizeMobile;
    }
  }
}