<div data-bsi-element="col-three-MEOl1p" class="bsi-element-col-three-MEOl1p bsi-column-element container bsi-ratio-4-4-4 bsi-space-around-visible bsi-gaps-visible bsi-col-align-left bsi-bg-color-transparent bsi-opacity-100 bsi-gradient-hide">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 bsi-column" data-bsi-dropzone="col-three-dropzone-1-gZDmPP">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 bsi-column" data-bsi-dropzone="col-three-dropzone-2-9kRnnj">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 bsi-column" data-bsi-dropzone="col-three-dropzone-3-M3XKDm">
        </div>
    </div>
</div>