@import "./../../../../../styles/properties.scss";

@mixin styles($id: 'checkbox-24CNSe') {
  .bsi-element-#{$id} {
    &.bsi-checkbox-spacing-hide {
      margin-bottom: 0 !important;
    }

    .checkbox-info {
      display: flex;
      flex-direction: column-reverse;
    }

    .form-check-input {
      -webkit-appearance: none;
    }
  }
}