{% macro render(title = null, elementId = null, titlePartId = null) %}{% apply spaceless %}
    {% set title = title ?: bsi_cx_lorem(3) %}
    {% set elementId = elementId ?: 'title-h1-piICx1' %}
    {% set titlePartId = titlePartId ?: 'title-h1-part-4D1dKG' %}
    <h1 data-bsi-element="{{ elementId }}" data-bsi-element-part="{{ titlePartId }}" class="{{ 'bsi-element-' ~ elementId }} bsi-heading-element bsi-text-primary-color bsi-default">{{ title }}</h1>
{% endapply %}{% endmacro %}