@import "../../../../styles/properties";

.bsi-grid-element-temlate-part {

    &.grid-rounded-corners {
        border-radius: bsiProperty("gridRoundetCorner", 0.5rem);
    };

    // auto templating
    .grid {

        /* Mobile: max 4 Columns */
        grid-template-columns: repeat(auto-fit, minmax(calc((100% - 3*bsiProperty("gridGap", 1rem))/4), 1fr));

        
        /* Tablet: max 8 Columns */
        @include media-breakpoint-up($tablet) {
            grid-template-columns: repeat(auto-fit, minmax(calc((100% - 7*bsiProperty("gridGap", 1rem))/8), 1fr));
        }

        /* Desktop: max 12 Columns */
        @include media-breakpoint-up($desktop) {
            grid-template-columns: repeat(auto-fit, minmax(calc((100% - 11*bsiProperty("gridGap", 1rem))/12), 1fr));
        }
    };

    $gridTemplates: (
        "1": (
            desktop: 1fr,
            tablet: 1fr,
            mobile: 1fr,
        ),
        "1-1": (
            desktop: 1fr 1fr,
            tablet: 1fr 1fr,
            mobile: 1fr
        ),
        "2-1": (
            desktop: 2fr 1fr,
            tablet: 2fr 1fr,
            mobile: 1fr
        ),
        "1-2": (
            desktop: 1fr 2fr,
            tablet: 1fr 2fr,
            mobile: 1fr
        ),
    );

    @each $name, $templates in $gridTemplates {
        .grid-template-#{$name} {
            /* Mobile */
            grid-template-columns: map-get($templates, mobile);
            
            /* Tablet*/
            @include media-breakpoint-up($tablet) {
                grid-template-columns: map-get($templates, tablet);
            }
            
            /* Desktop */
            @include media-breakpoint-up($desktop) {
                grid-template-columns: map-get($templates, desktop);
            }
        }
    };

    $backgroundColors: (
        "transparent": transparent,
        "primary": bsiProperty("primary", #fe9915),
        "secondary": bsiProperty("secondary", #0082a1),
        "tertiary": bsiProperty("tertiary", #2bb198),
        "dark": bsiProperty("dark", #333333),
    );

    @each $name, $color in $backgroundColors {
        &.bg-color-#{$name} {
            &.grid-expand-background {
                background-color: $color;
            }

            .grid-normal-background {
                background-color: $color;
            }
        }
    };
    
}