@import "../../../../../styles/old_properties";

@mixin styles($id: "poll-wni8em",
  $poll-primary: $primary,
  $poll-secondary: $secondary,
  $poll-label-size: 1.25rem) {

  @include pollColor($id, $poll-primary);

  .bsi-form-color-secondary {
    @include pollColor($id, $poll-secondary);
  }

  .bsi-element-#{$id} {
    fieldset {
      margin-bottom: 0.75em;

      .bsi-poll-radio-item {
        display: none;
        position: relative;
        font-size: $poll-label-size;

        input {
          appearance: none;
          width: 100%;
          height: 100%;
          margin: 0;
          --bs-form-check-bg-image: none !important;
        }

        label {
          position: absolute;
          width: 100%;
          height: 100%;
          align-content: center;
          text-align: center;
          left: 0;
          transition: all 0.3s ease;
        }
      }
    }

    // Handle visiblity of radio inputs
    // allowed range:
    // - min: 0-1
    // - max: 1-10
    @for $start from 0 through 1 {
      @for $end from 1 through 10 {
        &:has(input[type=number][min="#{$start}"][max="#{$end}"]) {

          @for $visible from $start through $end {
            fieldset .bsi-poll-radio-item:nth-child(#{$visible + 1}) {
              display: block;
            }
          }
        }
      }
    }

    .nps-description {
      @media screen and (prefers-color-scheme: dark) {
        color: bsiProperty('lightColor', #ffffff);
      }
    }

    // NPS-Style
    &.bsi-poll-nps fieldset .bsi-poll-radio-group {
      justify-content: center;
      gap: 0.5rem;

      // hide star icons
      i {
        display: none;
      }

      .bsi-poll-radio-item {
        width: 3 * $poll-label-size;
        height: 2 * $poll-label-size;

        // style input as box
        input, .form-check-label {
          border: 1px solid $poll-primary;
          border-radius: 0.25rem;
        }

        &:has(input:checked) label, label:hover {
          color: #fff;
        }
      }
    }

    // Star style
    &.bsi-poll-star {
      fieldset .bsi-poll-radio-group .bsi-poll-radio-item {
        width: 3.25rem;
        height: 3.25rem;
        font-size: 2rem;

        // hide nps-label
        .number-label {
          display: none;
        }

        input {
          background-color: transparent;
          border: none;
        }

        // Star icon filled / not filled style
        i {
          display: block;
          // set icons to the optical center
          margin-top: -6px;
        }

        i.bi-star-fill {
          display: none;
        }

        &.bsi-poll-radio-checked label {
          i.bi-star {
            display: none;
          }

          i.bi-star-fill {
            display: block;
          }
        }

      }

      .nps-description {
        display: none;
      }
    }
  }

  // Fix validation style
  .was-validated .bsi-element-#{$id}.bsi-poll-star fieldset input:checked {
    background-color: transparent;
  }

  // Sharp border Style
  .bsi-corner-sharp .bsi-element-#{$id}.bsi-poll-nps fieldset .bsi-poll-radio-item {
    .form-check-label, input {
      border-radius: 0;
    }
  }

}

@mixin pollColor($id: "poll-wni8em",
  $color: $primary,
) {
  .bsi-element-#{$id} {
    &.bsi-poll-nps fieldset .bsi-poll-radio-item {
      input {
        border-color: $color;
      }
      
      &:has(input:checked) label {
        background-color: $color;
      }

      label:hover {
        background-color: $color; 
      }

    }

    &.bsi-poll-star fieldset .bsi-poll-radio-item label {
      color: $color;
    }
  }
}