{% set ifLayoutElementId = elementId ?: "if-layout-TljhJw" %}

<div data-bsi-element="{{ ifLayoutElementId }}" class="bsi-element-{{ ifLayoutElementId }} mb-3 legend-size-h4" x-data="ifThenGroup" @visibility-changed="execRequiredIfVisible">
	<div class="if-container" data-bsi-dropzone="if-container-Ys0IFw">
		{% include "@bsi-cx/design-standard-library-web/content-elements/form/checkbox/template.twig" %}
	</div>
	<div class="then-container" data-bsi-dropzone="then-container-KQoqAa">
		{% include "../../then-group/template.twig" %}
	</div>
</div>
