{% set friendlyCaptchaImageSrc = imageSrc ?: bsi_cx_asset('./friendly-captcha.png') %}

<div x-data="friendlyCaptcha" data-bsi-element="frindly-captcha-03c21de7" class="bsi-element-frindly-captcha-03c21de7">
    <div class="siteKeyWrapper hide">
        <p class="siteKey" data-bsi-element-part="frindly-captcha-part-968cbea9">SiteKey</p>
    </div>
    <img data-bsi-remove-if="live" src="{{ friendlyCaptchaImageSrc }}" class="frc-image show-edit" alt="friendly Captcha Logo" />
    <div class="frc-captcha hide-edit" data-sitekey=""></div>
    <div class="response-friendly-captcha hide" data-bsi-element-part="frindly-captcha-form-field-part-5e65c6ba" data-bsi-form-field-fixed-type="text" data-bsi-hide-required>
        <label for="response" class="hide">Friendly Captcha</label>
        <input id="response" class="hide" type="text" value="" name="frc-captcha-response" required="true">
    </div>
</div>