// @use '../../_prototype/styles' as prototypeStyleSheet;
@use "../../../../../styles/properties.scss" as properties;

@mixin fileUploadFieldStyling(
    $elementId: "upload-form-field-5674018a",
    $borderColor: properties.$fileUploadBorderColor,
    $borderActiveColor: properties.$fileUploadBorderActiveColor,
    $borderFocusColor: properties.$fileUploadBorderFocusColor,
    $borderColorDropover: properties.$fileUploadBorderColorDropover,
    $backgroundColor: properties.$fileUploadBackgroundColor,
    $backgroundColorDropover: properties.$fileUploadBackgroundColorDropover,
    $buttonBackgroundColor: properties.$fileUploadButtonBackgroundColor,
    $buttonFontColor: properties.$fileUploadButtonFontColor,
    $buttonHoverBackgroundColor: properties.$fileUploadButtonHoverBackgroundColor,
    $buttonHoverFontColor: properties.$fileUploadButtonHoverFontColor,

    $iconUploadFontName: properties.$fileUploadIconUploadFontName,
    $iconUploadFontCharacter: properties.$fileUploadIconUploadFontCharacter,
    $iconDeleteFontName: properties.$fileUploadIconDeleteFontName,
    $iconDeleteFontCharacter: properties.$fileUploadIconDeleteFontCharacter,

    $deleteButtonBackgroundColor: properties.$fileUploadDeleteButtonBackgroundColor,
    $deleteButtonHoverBackgroundColor: properties.$fileUploadDeleteButtonHoverBackgroundColor,
    $deleteButtonColor: properties.$fileUploadDeleteButtonColor,
    $deleteButtonHoverColor: properties.$fileUploadDeleteButtonHoverColor,
) {

    .bsi-element-#{$elementId} {
        
        // Only display element after Alpine has been executed
        [x-cloak] { 
            display: none !important;
        }

        .file-upload-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            
            .file-upload-and-error-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                
                .form-field-input-wrapper.file-upload {
                    min-width: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    align-self: stretch;
                    gap: properties.$spacing400;
                    padding: 1rem;
                    transition: outline-color 0.2s, background-color 0.2s;
                    background-color: $backgroundColor;
                    
                    // no file (0, 4, 0)
                    outline: properties.$borderWidth100 dashed var(--form-element-border-color);
                    outline-offset: -(properties.$borderWidth100);
                    border-radius: properties.$borderRadius200;
                    
                    &:has(.file-info:not([style*="display: none"])) {
                        // file uploaded (0, 6, 0)
                        outline-style: solid;
                        justify-content: space-between;
                        
                        > .left {
                            flex: auto;
                            max-width: 70%;
                        }
                        > .right {
                            flex-grow: unset; 
                        }
                    }
                
                    &:has(.upload-button:focus-visible), &:has(.remove-button:focus-visible) {
                        // focus-visible (0, 6, 0)
                        outline-width: properties.$borderWidth300;
                        outline-style: solid;
                    }
                    
                    &.dragover:has(.file-info[style*="display: none"])  {
                        // dragover some file if no file is uploaded yet (0, 7, 0)
                        outline-color: $borderColorDropover;
                        background-color: $backgroundColorDropover;
                    }
                    
                    > .left {
                        display: flex;
                        flex: 1;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 0.75rem;

            
                        @media (max-width: bsiProperty(gridBreakpointSM)) {
                            // mobile styles
                            flex: none;
                        }
                        
                        .upload-button {
                            display: inline-flex;
                            align-items: center;
                            gap: 0.5rem;
                            background: $buttonBackgroundColor;
                            border: 1px solid $buttonBackgroundColor;
                            color: $buttonFontColor;
                            padding: 0.5rem 0.75rem;
                            border-radius: 6px;
                            cursor: pointer;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            user-select: none;
                            transition: border-color 0.2s, background-color 0.2s, color 0.2s;
                            
                            &:hover {
                                background: $buttonHoverBackgroundColor;
                                color: $buttonHoverFontColor;
                            }
                            
                            &:focus-visible {
                                outline: unset;
                            }
                            
                            &::after {
                                font-family: $iconUploadFontName;
                                content: $iconUploadFontCharacter;
                                font-size: 1.5rem;
                                line-height: 1.5rem;
                            }
                        }
                        
                        .file-info {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            width: 100%;
                            
                            .file-text-wrapper {
                                width: 100%;
                                display: flex;
                                min-width: 0;
                            }
                            
                            .file-name {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .file-suffix {
                                flex-shrink: 0;
                            }
                            .file-size {
                                padding-left: properties.$spacing300;
                                flex-shrink: 0;
                            }
                            .preview-image {
                                height: 3rem;
                                aspect-ratio: 1 / 1;
                                object-fit: contain;
                                
                                &:not([src]), img[src=""] {
                                    display: none;
                                }
                            }
                        }
                    }
                
                    > .right {
                        display: flex;
                        flex: 1;
                        align-items: center;
                        
                        .drop-text {
                            font-size: 1rem;
                            line-height: 1.5rem;
                            font-weight: 700;
                            user-select: none;
                        }
                        
                        .remove-button {
                            height: 40px;
                            aspect-ratio: 1 / 1;
                            border-radius: properties.$borderRadius100;
                            background-color: $deleteButtonBackgroundColor;
                            // display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            // background: none;
                            border: none;
                            cursor: pointer;
                            color: $deleteButtonColor;
                            // font-size: 1.2rem;
                            padding: 0;
                            user-select: none;
                            
                            &:focus-visible {
                                outline: unset;
                            }
                            
                            &:hover {
                                color: $deleteButtonHoverColor;
                                background-color: $deleteButtonHoverBackgroundColor;
                            }
                            
                            &::before {
                                font-family: $iconDeleteFontName;
                                content: $iconDeleteFontCharacter;
                                font-size: 24px;
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }
        
        &:has(input:disabled) {
            opacity: 0.3;
        }  
    }

    .bsi-ce-edit-mode .bsi-element-#{$elementId} .file-upload-container .file-upload-and-error-text {
        [x-cloak] { 
            display: flex !important;
        }
        
        .file-upload {
            .left img.preview-image, .left .file-info, > .right button.remove-button {
                display: none; 
            }
        }
    }
}
