// ------------------------------------------------------------
// Library Index
//
// This is the main entry point of the design library.
//
// Purpose:
// - Forwards all design properties (colors, typography, spacing, layout, semantic)
//   so they are available to library components and consuming projects.
// - Forwards the Bootstrap index (via the bridge) so that Bootstrap variables
//   used by the library components are available and can be overridden
//   where marked with !default.
// - Forwards all component style groups currently, so projects importing
//   this file get the full set of styles.
//
// Notes:
// - Projects should import this file to get the full set of library
//   properties, Bootstrap setup, and component styles in a single import.
// - Styles are forwarded per group (not per individual component).
// - TODO: implement a flag system later that allows importing
//   only selected groups based on project needs.
// ------------------------------------------------------------

@forward "./properties/index.scss";
@forward "./bootstrap/bs_index.scss" as bootstrap-*;

@forward "./basic.scss";
@forward "../content-elements/layout/layout.scss";
@forward "../content-elements/buttons/buttons.scss";

// TODO: Remove if old headlines and/or layout elements are removed
// @import "./old_properties";
@import "../content-elements/_old-content-elements/base/headlines/styles.scss";
@import "../content-elements/_old-content-elements/layout/styles.scss";
