@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

/* --------------------- Set style variables ------------------- */

// Colors
$primary: bsiProperty('primaryColor', #fe9915);
$secondary: bsiProperty('secondaryColor', #0082a1);
$tertiary: bsiProperty('tertiaryColor', #2bb198);
$dark: bsiProperty('darkColor', #333333);
$light: bsiProperty('lightColor', #ffffff);
$info: bsiProperty('infoColor', #abb3b8);
$invalid: bsiProperty('invalidColor', #d11928);
$valid: bsiProperty('validColor', #19804b);
$textColor: bsiProperty('textColor', #282322);

// Fonts
$primaryFont: bsiProperty('primaryFontFamily', 'Open Sans, Segoe UI, Apple SD Gothic Neo, Lucida Grande, Lucida Sans Unicode, sans‑serif');
$textSize: bsiProperty('textFontSize', 16px);

// Grid Breakpoints (bootstrap)
$xs: 0;
$mobile: bsiProperty('gridBreakpointMobile', 375px); 
$tablet: bsiProperty('gridBreakpointTablet', 768px);
$lg: bsiProperty('gridBreakpointLG', 992px);
$desktop: bsiProperty('gridBreakpointDesktop', 1025px);
$xxl: bsiProperty('gridBreakpointXXL', 1400px);


/* -------------- Customizing bootstrap variables -------------- */

// Customize colors
$theme-colors: (
    'primary':    $primary,
    'secondary':  $secondary,
    'success':    $valid,
    'info':       $info,
    'warning':    $warning,
    'danger':     $invalid,
    'light':      $light,
    'dark':       $dark
);

// Customize fonts
$font-family-sans-serif: $primaryFont;
$font-family-monospace: $primaryFont;

// Customize table styling
$table-bg-scale: -90%; // TODO: brauchen wir das noch? Was tut das?

// Customize breakpoints
$grid-breakpoints: (
    xs: $xs,
    sm: $mobile,
    md: $tablet,
    lg: $lg,
    xl: $desktop,
    xxl: $xxl
);

$spacers: map-merge($spacers, (
    6: $spacer * 5,
    7: $spacer * 7.5,
    8: $spacer * 10,
));