@import "./properties";
@import "bootstrap/scss/bootstrap";

// Styles used by multiple content elements:
// Columns
.bsi-column-element {
  &.bsi-space-around-hide {
    --bs-gutter-x: 0;
    overflow-x: hidden;

    .row {
      @media (max-width: calc($md - 1px)) {
        --bs-gutter-x: 0;
      }
    }
  }

  &.bsi-gaps-hide .row {
    --bs-gutter-x: 0;
  }

  .bsi-column,
  .card-body {
    display: grid;
  }

  &.bsi-col-align-center {

    .bsi-column,
    .card-body {
      justify-content: center;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }

    .btn {
      margin: 0 12px 12px 12px;
    }
  }

  &.bsi-col-align-right {

    .bsi-column,
    .card-body {
      justify-content: right;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: right;
    }

    .btn {
      margin: 0 0 12px 12px;
    }
  }

  $colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "dark": $dark
  );

@for $i from 10 through 100 {
  @if $i % 10==0 {
    $opacity-percentage: $i*1%;

    @each $name, $color in $colors {
      &.bsi-bg-color-#{$name}.bsi-opacity-#{$i} {
        .bsi-column {
          background-color: mix(white, $color, 100%-$opacity-percentage);
        }

        &.bsi-gradient-to-bottom .bsi-column {
          background-image: linear-gradient(to bottom, white, mix(white, $color, 100%-$opacity-percentage));
        }

        &.bsi-gradient-to-top .bsi-column {
          background-image: linear-gradient(to top, white, mix(white, $color, 100%-$opacity-percentage));
        }

        &.bsi-gradient-to-bottom-and-top .bsi-column {
          background-image: linear-gradient(white, mix(white, $color, 100%-$opacity-percentage), white);
        }
      }
    }
  }
}
}

// headlines
.bsi-title-element {

  width: 100%;

  $colors: (
    "primary-color": $primary,
    "secondary-color": $secondary,
    "dark": $dark,
    "light": $light
  );

@each $name, $color in $colors {
  &.bsi-text-#{$name} {
    color: $color;
  }
}

&.bsi-header-style-1 {
  font-size: $titleStyle1FontSize;
  line-height: 110%;
  letter-spacing: -0.005em;
  font-family: $titleStyle1FontFamily;

  @media (max-width: bsiProperty(gridBreakpointSM)) {
    font-size: $titleStyle1FontSizeMobile;
  }
}

&.bsi-header-style-2 {
  font-size: $titleStyle2FontSize;
  line-height: 110%;
  letter-spacing: 0em;
  font-family: $titleStyle2FontFamily;

  @media (max-width: bsiProperty(gridBreakpointSM)) {
    font-size: $titleStyle2FontSizeMobile;
    line-height: 130%;
  }
}

&.bsi-header-style-3 {
  font-size: $titleStyle3FontSize;
  line-height: 110%;
  letter-spacing: 0em;
  font-family: $titleStyle3FontFamily;

  @media (max-width: bsiProperty(gridBreakpointSM)) {
    font-size: $titleStyle3FontSizeMobile;
    line-height: 130%;
  }
}

&.bsi-header-style-4 {
  font-size: $titleStyle4FontSize;
  line-height: 130%;
  letter-spacing: 0em;
  font-family: $titleStyle4FontFamily;

  @media (max-width: bsiProperty(gridBreakpointSM)) {
    font-size: $titleStyle4FontSizeMobile;
    line-height: 150%;
  }
}

&.bsi-header-style-5 {
  font-size: $titleStyle5FontSize;
  line-height: 130%;
  letter-spacing: 0em;
  font-family: $titleStyle5FontFamily;

  @media (max-width: bsiProperty(gridBreakpointSM)) {
    font-size: $titleStyle5FontSizeMobile;
    line-height: 150%;
  }
}

&.bsi-header-style-6 {
  font-size: $titleStyle6FontSize;
  line-height: 150%;
  letter-spacing: 0em;
  font-family: $titleStyle6FontFamily;

  @media (max-width: bsiProperty(gridBreakpointSM)) {
    font-size: $titleStyle6FontSizeMobile;
  }
}
}

// content editor specific CSS
.bsi-ce-edit-mode [data-bsi-element] .bsi-column-element.bsi-space-around-hide {
  overflow-x: visible !important;
}


/******************************************************/
/*************  Dark Mode  ****************************/
/******************************************************/


@if $darkModeActive == true {
  :root {
    color-scheme: light dark;
    supported-color-schemes: light dark;
  }

  @media screen and (prefers-color-scheme: dark) {
    .bsi-dm-bg-color {
      background-color: bsiProperty('darkColor', #000000) !important;
    }

    .bsi-dm-bg-color-footer {
      background-color: bsiProperty('footerDarkBackgroundColor', #383e42) !important;
    }

    .bsi-dm-text-color {
      color: bsiProperty('lightColor', #ffffff) !important;
    }

    .bsi-dm-highlighted-content {
      background-color: bsiProperty('highlightBackgroundColorDarkMode', #7c3d01) !important;
    }

    .bsi-dm-layout-colored {
      background-color: bsiProperty('layoutColoredBackgroundColorDarkMode', #3b3b3b) !important;
    }
  }
}

p {
  margin: 0 !important;
}