@import "../../../styles/properties";

.bsi-element-form-container-692qIu {
  padding-right: 0px;
  padding-left: 0px;

  .form-text {
    margin-top: 0 !important;
  }
  input, select, textarea, input.bsi-form-tel-input-element, .bsi-poll-radio-group, .form-radio {
    margin-top: 0.5rem !important;
  }
  label {
    margin-bottom: 0;
  }

  .card, input, select, textarea {
    border: 1px solid rgba(56, 62, 66, .3);
  }

  &.bsi-form-slim {
    max-width: 540px;
  }

  &.bsi-form-card-visible .card-body {
    padding-right: 32px;
    padding-left: 32px;
  }

  &.bsi-form-card-hide {
    .card {
      box-shadow: none !important;
      border: none;
    }

    .card-body {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &.bsi-corner-sharp {
    input {
      border-radius: 0;
    }
  }

  $colors: ("primary": $primary, "secondary": $secondary);
  @each $name, $color in $colors {
    input:focus, select:focus, textarea:focus {
      border-color: rgba($color, .25);
      box-shadow: 0 0 0 .25rem rgba($color, .25);
    }

    &.bsi-form-btn-outline .btn-submit {
      color: $color;
      background-color: transparent;
      border-color: $color;

      &:hover {
        color: $light;
        background-color: $color;
        border-color: $color;
      }
    }

    &.bsi-form-btn-filled .btn-submit {
      color: $light;
      background-color: $color;
      border-color: $color;

      &:hover {
        color: $color;
        background-color: transparent;
        border-color: $color;
      }
    }

    input[type=range]::-webkit-slider-thumb {
      background: $color;
    }

    input[type=range]::-moz-range-thumb {
      background: $color;
    } /* Firefox */

    input[type=range]::-ms-thumb {
      background: $color;
    } /* IE */

    input[type=range]:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 .25rem rgba($color, .25);
    }

    input[type=range]:focus::-moz-range-thumb {
      box-shadow: 0 0 0 .25rem rgba($color, .25);
    } /* Firefox */

    input[type=range]:focus::-ms-thumb {
      box-shadow: 0 0 0 .25rem rgba($color, .25);
    } /* IE */

    i.bi-info-circle {
      color: $color;
    }
  }
  

  &.bsi-form-btn-filled .btn-outline-info {
    color: $light;
    background-color: $dark;
    border-color: $dark;

    &:hover {
      color: $dark;
      background-color: transparent;
      border-color: $dark;
    }
  }

  input[type=submit], input[type=reset], .bsi-btn-element {
    margin: 0 0.25rem 0.25rem 0 !important;
  }

  input[type=reset][disabled] {
    display: none;
  }

  .text-danger {
    list-style-type: none;
  }

  .form-label-and-info-text {
    &.contains-tooltip {
      display: flex;
      gap: 0.5rem;

      .form-text {
        display: none;
      }
    }

    i.bi-info-circle {
      display: none;

      &.tooltip-visible {
        display: block;
      }
    }
  }
}

.bsi-tooltip {
  --bs-tooltip-bg: var(--bs-gray-dark);
  --bs-tooltip-color: var(--bs-light);
}