@import "../../../../../styles/properties";

@mixin styles(
    $id: 'bsi-grid-24cb3f1c'
) {

    .bsi-element-bsi-grid-24cb3f1c {

        overflow: hidden;

        &.container {
            padding-left: 0px;
            padding-right: 0px;
        }

        .grid {
            margin-left: 48px;
            margin-right: 48px;
            border-radius: 24px;
        }
        
        @media (max-width: bsiProperty(gridBreakpointMD)) {
            border-radius: 16px;
        }

        $colors: ("primary": $primary, "secondary": $secondary, "tertiary": $tertiary, "dark": $dark);
        

        @for $i from 10 through 100 {
            @if $i % 10 == 0 {
                $opacity-percentage: $i*1%;
                @each $name, $color in $colors {
                    &.bsi-bg-color-#{$name}.bsi-opacity-#{$i} {
                        .grid{
                            background-color: mix(white, $color, 100%-$opacity-percentage);
                        }
                    }
                }
            }
        }
    }
}