<div data-bsi-element="schedule-day-68IBcs" class="schedule-day">
    <h2 data-bsi-element-part="schedule-day-label-IcQcw7">24. Dezember 2026</h2>
	<div data-bsi-dropzone="schedule-rows-dropzone-OJmpt5">
		{% block scheduleRows %}
			{% include "../row/template.twig" %}
			{# {% include "../row/template.twig" %} #}
		{% endblock %}
	</div>
</div>
