@use "../../../../../styles/properties.scss" as properties;

@mixin checkboxStyling(
    $elementId: "checkbox-49f468e6",
) {
    .bsi-element-#{$elementId} {
        .checkbox-container {
            display: flex;
            flex-direction: column;
            
            .checkbox-with-label {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: bsiProperty("spacing.200", 8px);
                cursor: pointer;

                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                

                .native-checkbox {
                    position: absolute;
                    opacity: 0;
                    pointer-events: none;
                }

                // create a custom checkbox
                .visual-checkbox {
                    display: inline-flex;
                    width: 24px;
                    height: 24px;
                    border: unset;
                    outline-style: solid;
                    background-color: properties.$light;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: transparent;
                    background-color: properties.$light;
                    transition: all 0.2s ease;

                    &::before {
                        line-height: 1;
                        opacity: 0;
                        font-family: "bootstrap-icons";
                        content: "\F26E"; /* check bootstrap icon */
                    }
                }

                .native-checkbox:checked + .visual-checkbox::before {
                    opacity: 1;
                }

                .native-checkbox:checked + .visual-checkbox {
                    background-color: properties.$dark;
                    outline-color: properties.$dark;
                    color: properties.$light;
                }

                .native-checkbox:focus-visible + .visual-checkbox  {
                    outline-width: properties.$borderWidth300;
                }

                .form-label, .group-checkbox-label {
                    cursor: pointer;
                    margin-bottom: properties.$spacing0;
                    align-self: stretch;
                }
            }

            .bsi-invalid-feedback {
                display: none;
            }
        }
        
        // Sets a required flag on the label if field is required.
        &.required .form-label {
            display: flex;
            gap: properties.$spacing100;

            &::after {
                content: "*";
            }
        }
    }
}
