@import "../../../../styles/properties.scss";

@mixin formSectionStyles() {
    .bsi-element-form-section-4cc6cfe4 {
        .form-section {
            display: flex;
            flex-direction: column;
        }
    }
}
