{% apply spaceless %}
    {% set formCheckboxElementId = elementId ?: 'checkbox-group-checkbox-b2745977' %}
    {% set formCheckboxElementPartId = elementPartId ?: 'checkbox-group-checkbox-part-6cee4307' %}
    {% set formCheckboxLabelText = labelText ?: bsi_cx_lorem(3) %}
    
    <div x-data="checkbox" data-bsi-element="{{ formCheckboxElementId }}" class="bsi-element-{{ formCheckboxElementId }} form-element" data-bsi-element-part="{{ formCheckboxElementPartId }}" data-bsi-hide-required>
        <div class="checkbox-container">
            <div class="checkbox-with-label">
                <input @change="formGroupValidationOnChange" id="checkbox-element" type="checkbox" class="native-checkbox checkbox-in-group"></input>
                <span @click="toggle" class="visual-checkbox"></span>
                <label for="checkbox-element" class="form-label">{{ formCheckboxLabelText }}</label>  
            </div>
        </div>
    </div>
{% endapply %}