name: Code Quality Check

on:
  pull_request:
    branches: features/mima/test-workflow

jobs:
  check-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npx eslint .

      - name: Run Prettier Check
        run: npx prettier --check .
