.bsi-grid-column-element {
    // Column Padding
    .col-pad-small { padding: 0.5rem; }
    .col-pad-medium { padding: 1rem; }
    .col-pad-large { padding: 2rem; }

    height: 100px;
    background-color: green;
}