@use "../../../styles/properties/index.scss" as p;

.bsi-grid-column-element-template-part {
  $backgroundColors: (
    "transparent": transparent,
    "primary": p.$primary,
    "secondary": p.$secondary,
    "tertiary": p.$tertiary,
    "light": p.$light,
    "dark": p.$dark,
  );

  @each $name, $color in $backgroundColors {
    &.bg-color-#{$name} {
      background-color: $color;
      @if $name == "transparent" {
        border-radius: unset;
      } @else {
        padding: p.$colPadding;
        &.column-rounded-corners {
          border-radius: p.$columnRoundetCorner;
        }
      }
    }
  }

  $verticalAlignment: (
    "top": start,
    "center": center,
    "bottom": end,
  );

  @each $name, $alignment in $verticalAlignment {
    &.column-vertical-alignment-#{$name} {
      align-content: $alignment;
    }
  }

  $horizontalAlignment: (
    "left": left,
    "center": center,
    "right": right,
  );

  @each $name, $alignment in $horizontalAlignment {
    &.column-horizontal-alignment-#{$name} {
      justify-items: $alignment;
    }
  }

  $directions: (
    "vertical": column,
    "horizontal": row,
  );

  @each $name, $direction in $directions {
    .column-direction-#{$name} {
      width: 100%;
      display: flex;
      flex-direction: $direction;
      flex-wrap: wrap;
      gap: p.$gapBetweenElementsInColumns;
    }
  }

  min-height: 100px; // TODO: Löschen, ist nur zum testen
}
